<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Componentes</h1>
  <p class="lead">Dezenas de componentes reusáveis para permitir a fácil estilização de navegações, alertas, dialogs e muito mais</p>
  <div class="subnav">
    <ul class="nav pills">
      <li><a href="#buttonGroups">Grupos de botões</a></li>
      <li><a href="#comboButtons">Botões combo</a></li>
      <li><a href="#navs">Navegações e tabs</a></li>
      <li><a href="#navbar">Barra de navegação</a></li>
      <li><a href="#breadcrumbs">Breadcrumbs</a></li>
      <li><a href="#pagination">Paginação</a></li>
      <li><a href="#thumbnails">Thumbnails</a></li>
      <li><a href="#alerts">Alertas</a></li>
      <li><a href="#progress">Barra de progresso</a></li>
    </ul>
  </div>
</header>



<!-- Button Groups
================================================== -->
<section id="buttonGroups">
  <div class="page-header">
    <h1>Grupos de botões <small>Botões juntos para simular o efeito de barra de navegação</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Grupo de botões</h3>
      <p>Usar grupos de botões para unir vários botões juntos como um componente único. Podem ser construídos com uma série de elementos <code>&lt;a&gt;</code> ou <code>&lt;button&gt;</code></p>
      <p>Se você também combinar um conjunto de <code>&lt;div class="btn-group"&gt;</code> em um <code>&lt;div class="btn-toolbar"&gt;</code> para projetos mais complexos</p>
      <div class="well" style="padding: 10px; margin-bottom: 9px;">
        <div class="btn-group">
          <a class="btn" href="#">Esquerdo</a>
          <a class="btn" href="#">Meio</a>
          <a class="btn" href="#">Direita</a>
        </div>
      </div>
      <div class="well" style="padding: 10px;">
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn" href="#">1</a>
            <a class="btn" href="#">2</a>
            <a class="btn" href="#">3</a>
            <a class="btn" href="#">4</a>
          </div>
          <div class="btn-group">
            <a class="btn" href="#">5</a>
            <a class="btn" href="#">6</a>
            <a class="btn" href="#">7</a>
          </div>
          <div class="btn-group">
            <a class="btn" href="#">8</a>
          </div>
        </div>
      </div>

    </div>
    <div class="span4">
      <h3>Markup de exemplo</h3>
      <p>Aqui está como o HTML para um grupo de botões padrão construído com botões em âncora:</p>
<pre class="prettyprint linenums">
&lt;div class="btn-group"&gt;
  &lt;a class="btn" href="#"&gt;1&lt;/a&gt;
  &lt;a class="btn" href="#"&gt;2&lt;/a&gt;
  &lt;a class="btn" href="#"&gt;3&lt;/a&gt;
&lt;/div&gt;
</pre>
      <p>E com uma barra de ferramenta para múltiplos:</p>
<pre class="prettyprint linenums">
&lt;div class="btn-toolbar"&gt;
  &lt;div class="btn-group"&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h3>Checkbox e radio</h3>
      <p>Grupos de botões também funciona como radios, onde somente um botão pode estar ativo, ou checkboxes, onde qualquer número de botões podem estar ativos. Veja a <a href="./javascript.html#buttons">documentação javascript</a> para isto.</p>
      <p><a class="btn js-btn" href="./javascript.html#buttons">Obtenha o javascript &raquo;</a></p>
      <hr>
      <h4 class="muted">Atenção</h4>
      <p class="muted">css para grupo de botões estão em arquivo separado, o button-groups.less.</p>
    </div>
  </div>
</section>



<!-- Split button dropdowns
================================================== -->
<section id="comboButtons">
  <div class="page-header">
    <h1>Botões combo <small>Construindo um grupo de botões para prover o um menu contextual</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Tornar os botões dropdown</h3>
      <p>Construindo um grupo de estilos de botões e markup, podemos facilmente quebrar os botões. Quebrar os botões com uma funcionalidade a esquerda e um dropdown a direita para links contextuais</p>
      <div class="well" style="padding: 10px; margin-bottom: 9px;">
        <div class="btn-toolbar" style="margin-bottom: 9px;">
          <div class="btn-group">
            <a class="btn" href="#">Ações</a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Ação</a></li>
              <li><a href="#">Outra ação</a></li>
              <li><a href="#">Algo mais</a></li>
              <li class="divider"></li>
              <li><a href="#">Links separados</a></li>
            </ul>
          </div><!-- /btn-group -->
          <div class="btn-group">
            <a class="btn primary" href="#">Ação</a>
            <a class="btn primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Ações</a></li>
              <li><a href="#">Outra ação</a></li>
              <li><a href="#">Algo a mais</a></li>
              <li class="divider"></li>
              <li><a href="#">Link separado</a></li>
            </ul>
          </div><!-- /btn-group -->
          <div class="btn-group">
            <a class="btn danger" href="#">Perigo</a>
            <a class="btn danger dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Ação</a></li>
              <li><a href="#">Outra ação</a></li>
              <li><a href="#">Algo a mais</a></li>
              <li class="divider"></li>
              <li><a href="#">Links separados</a></li>
            </ul>
          </div><!-- /btn-group -->
        </div>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn success" href="#">Sucesso</a>
            <a class="btn success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Ação</a></li>
              <li><a href="#">Outra ação</a></li>
              <li><a href="#">Algo a mais</a></li>
              <li class="divider"></li>
              <li><a href="#">Link separados</a></li>
            </ul>
          </div><!-- /btn-group -->
          <div class="btn-group">
            <a class="btn info" href="#">Informações</a>
            <a class="btn info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Ação</a></li>
              <li><a href="#">Outra ação</a></li>
              <li><a href="#">Algo a mais</a></li>
              <li class="divider"></li>
              <li><a href="#">Links separados</a></li>
            </ul>
          </div><!-- /btn-group -->
        </div>
      </div> <!-- /well -->
    </div>
    <div class="span8">
      <h3>Markup de exemplo</h3>
      <p>Similar ao grupo de botões, nosso markup usa o markup normal de botão, mais com uma adição de estilos refinados e suporta o plugin de jQuery do Bootstrap de dropdown</p>
<pre class="prettyprint linenums">
&lt;div class="btn-group"&gt;
  &lt;a class="btn" href="#"&gt;Ação&lt;/a&gt;
  &lt;a class="btn dropdown-toggle" data-toggle="dropdown" href="#"&gt;
    &lt;span class="caret"&gt;&lt;/span&gt;
  &lt;/a&gt;
  &lt;ul class="dropdown-menu"&gt;
    &lt;!-- Links do menu dropdown --&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>
</section>



<!-- Nav, Tabs, & Pills
================================================== -->
<section id="navs">
  <div class="page-header">
    <h1>Navegação e tabs <small>Navegações altamente personalizadas</small></h1>
  </div>

  <h2>Padrões <small>Algum markup, classes diferentes</small></h2>
  <div class="row">
    <div class="span4">
    	<h3>Uma poderosa classe base</h3>
    	<p>Todos os componentes de navegação aqui, tabs e listas <strong>compartilham a mesma base de estilos</strong> através do código <code>.nav</code></p>
      <h3>Por que tabs?</h3>
      <p>Tabs no Bootstrap são construído com o elemento <code>&lt;ul&gt;</code> com o mesmo HTML fonte, é simplesmente uma lista de links. Para mudar de tabs horizontal e vertical basta uma classe </p>
      <p>Ambas opções são ótimas para sub seções do conteúdo ou navegando entre páginas relacionadas</p>
    </div>
    <div class="span4">
      <h3>Tabs básico</h3>
      <p>Use uma lista <code>&lt;ul&gt;</code> de links e adicione a classe <code>.tabs</code>:</p>
      <ul class="nav tabs">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Mensagens</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav tabs"&gt;
  &lt;li class="active"&gt;
    &lt;a href="#"&gt;Home&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
    <div class="span4">
      <h3>Pílulas básicas</h3>
      <p>Algum HTML, usando <code>.pills</code> ao invés</p>
      <ul class="nav pills">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Mensagens</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav pills"&gt;
  &lt;li class="active"&gt;
    &lt;a href="#"&gt;Home&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
  </div>

  <h2>Estagnadas <small>Torne os tabs e pílulas verticais</small></h2>
  <div class="row">
    <div class="span4">
      <h3>Como deixá-la estagnadas</h3>
      <p>Como tabs e pílulas são horizontais por padrão, simplesmente adicione a classe <code>.stacked</code> para torná-las verticais e estagnadas</p>
    </div>
    <div class="span4">
      <h3>Tabs estagnadas</h3>
      <ul class="nav tabs stacked">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Mensagens</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav tabs stacked"&gt;
  ...
&lt;/ul&gt;
</pre>
    </div>
    <div class="span4">
      <h3>Pílulas estagnadas</h3>
      <ul class="nav pills stacked">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Mensagens</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav pills stacked"&gt;
  ...
&lt;/ul&gt;
</pre>
    </div>
  </div>

  <h2>Dropdowns <small>para componentes de navegação personalizado</small></h2>
  <div class="row">
    <div class="span4">
      <h3>Menus ricos ficou fácil</h3>
      <p>Menus dropdown nas tabs e pílulas do Bootstrap são fáceis e requer apenas um pouco de extra markup e um plugin do jQuery</p>
      <p>Dê uma olhada do arquivo javascript para ler a documentação para <a href="./javascript.html#tabs">inicialização do dropdown</a> </p>
    </div>
    <div class="span4">
      <h3>Tabs e dropdowns</h3>
      <ul class="nav tabs">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Perfil</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Ação</a></li>
            <li><a href="#">Outra ação</a></li>
            <li><a href="#">algo a mais</a></li>
            <li class="divider"></li>
            <li><a href="#">link separado</a></li>
          </ul>
        </li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav tabs"&gt;
  &lt;li class="dropdown"&gt;
    &lt;a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#"&gt;
        dropdown
        &lt;b class="caret"&gt;&lt;/b&gt;
      &lt;/a&gt;
    &lt;ul class="dropdown-menu"&gt;
      &lt;!-- links --&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
    <div class="span4">
      <h3>Pílulas com dropdown</h3>
      <ul class="nav pills">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Perfil</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Ação</a></li>
            <li><a href="#">Outra ação</a></li>
            <li><a href="#">Algo mais</a></li>
            <li class="divider"></li>
            <li><a href="#">Links separados</a></li>
          </ul>
        </li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav pills"&gt;
  &lt;li class="dropdown"&gt;
    &lt;a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#"&gt;
        Dropdown
        &lt;b class="caret"&gt;&lt;/b&gt;
      &lt;/a&gt;
    &lt;ul class="dropdown-menu"&gt;
      &lt;!-- Links --&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
  </div>

  <h2>Listas de navegação <small>Construídos para otimizar as barras de navegação</small></h2>
  <div class="row">
    <div class="span4">
      <h3>Navegação estilo aplicação</h3>
      <p>As listas de navegação provê uma simples e fácil maneira de construir grupos de links com header opcional. Eles são melhor usados para sidebars como o Finder do OS X</p>
      <p>Estruturalmente, eles são construídos com o mesmo estilo de navegação das tabs e pílulas, então a customização é bastante intuitiva</p>
      <h4>Com ícones</h4>
      <p>Listas de navegação são fáceis de serem construídas com ícones. Basta adicionar a tag <code>&lt;i&gt;</code> com a classe e pronto!</p>
    </div>
    <div class="span4">
      <h3>Exemplo de listas de navegação</h3>
      <p>Faça uma lista de links e adicione a estrutura <code>class="nav list"</code>:</p>
      <div class="well" style="padding: 8px 0;">
        <ul class="nav list">
          <li class="nav-header">Cabecalho</li>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Biblioteca</a></li>
          <li><a href="#">Aplicações</a></li>
          <li class="nav-header">Outro cabeçalho</li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Configurações</a></li>
          <li><a href="#">Ajuda</a></li>
        </ul>
      </div> <!-- /well -->
<pre class="prettyprint linenums">
&lt;ul class="nav list"&gt;
  &lt;li class="nav-header"&gt;
    Cabeçalho da lista
  &lt;/li&gt;
  &lt;li class="active"&gt;
    &lt;a href="#"&gt;Home&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#"&gt;Biblioteca&lt;/a&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;
</pre>
    </div>
    <div class="span4">
      <h3>Exemplo com ícones</h3>
      <p>Algum exemplo, mas com a tag <code>&lt;i&gt;</code> para ícones</p>
      <div class="well" style="padding: 8px 0;">
        <ul class="nav list">
          <li class="nav-header">Cabeçalho</li>
          <li class="active"><a href="#"><i class="icon home"></i> Home</a></li>
          <li><a href="#"><i class="icon book"></i> Biblioteca</a></li>
          <li><a href="#"><i class="icon pencil"></i> Aplicações</a></li>
          <li class="nav-header">Outro cabeçalho</li>
          <li><a href="#"><i class="icon user"></i> Perfil</a></li>
          <li><a href="#"><i class="icon cog"></i> Configurações</a></li>
          <li><a href="#"><i class="icon flag"></i> Ajuda</a></li>
        </ul>
      </div> <!-- /well -->
<pre class="prettyprint linenums">
&lt;ul class="nav list"&gt;
  ...
  &lt;li&gt;
    &lt;a href="#"&gt;
      &lt;i class="icon book"&gt;&lt;/i&gt;
      Biblioteca
    &lt;/a&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;
</pre>
    </div>
  </div>


  <h2>Navegação tabular <small>Trazendo vida aos tabs com javascript</small></h2>
  <div class="row">
    <div class="span4">
    	<h3>O que é incluído</h3>
    	<p>Traga suas tabs a vida com um plugin simples para transformar o conteúdo em tabs. O Bootstrap integra tabs em quatro estilos: topo (padrão), direita, parte inferior, e esquerda</p>
     	<p>A mudança entre eles é fácil e somente requer um pouco de markup</p>
    </div>
    <div class="span4">
      <h3>Exemplos de tabs</h3>
      <p>Para fazer tabs "tabeáveis", coloque o código <code>.tabs</code> em outra div com a classe <code>.tabbable</code></p>
      <div class="tabbable" style="margin-bottom: 9px;">
        <ul class="nav tabs">
          <li class="active"><a href="#1" data-toggle="tab">Seção 1</a></li>
          <li><a href="#2" data-toggle="tab">Seção 2</a></li>
          <li><a href="#3" data-toggle="tab">Seção 3</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="1">
            <p>Eu sou a seção 1</p>
          </div>
          <div class="tab-pane" id="2">
            <p>Oi, eu sou a seção 2</p>
          </div>
          <div class="tab-pane" id="3">
            <p>O que é que há, agora você está na seção 3</p>
          </div>
        </div>
      </div> <!-- /tabbable -->
    </div>
    <div class="span4">
      <h3>Plugin de jQuery personalizado</h3>
      <p>Todos as interações das tabs são feitas com um plugin do jQuery. Saiba mais lendo a página da documentação javascript</p>
      <p><a class="btn" href="./javascript.html#tabs">Obter javascript &rarr;</a></p>
    </div>
  </div>

  <h3>Markup direto</h3>
  <p>Usando tabs requer uma div em volta do conteúdo, uma coleção de tabs, e painés de conteúdo</p>
<pre class="prettyprint linenums">
&lt;div class="tabbable"&gt;
  &lt;ul class="nav tabs"&gt;
    &lt;li class="active"&gt;&lt;a href="#1" data-toggle="tab"&gt;Secao 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#2" data-toggle="tab"&gt;Secao 1&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class="tab-content"&gt;
    &lt;div class="tab-pane active" id="1"&gt;
      &lt;p&gt;Estou na seção 1&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="tab-pane" id="2"&gt;
      &lt;p&gt;Estou na seção 2&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

  <h3>Tabs em qualquer direção</h3>
  <div class="row">
    <div class="span4">
      <h4>Tabs inferiores</h4>
      <p>Troque a ordem do html e adicione uma classe para colocar as tabs na parte inferior</p>
      <div class="tabbable tabs-below">
        <div class="tab-content">
          <div class="tab-pane active" id="A">
            <p>Estou na seção A</p>
          </div>
          <div class="tab-pane" id="B">
            <p>Estou na seção B</p>
          </div>
          <div class="tab-pane" id="C">
            <p>Estou na seção C</p>
          </div>
        </div>
        <ul class="nav tabs">
          <li class="active"><a href="#A" data-toggle="tab">Seção 1</a></li>
          <li><a href="#B" data-toggle="tab">Seção 2</a></li>
          <li><a href="#C" data-toggle="tab">Seção 3</a></li>
        </ul>
      </div> <!-- /tabbable -->
<pre class="prettyprint linenums" style="margin-top: 11px;">
&lt;div class="tabbable tabs-bottom"&gt;
  &lt;ul class="nav tabs"&gt;
    ...
  &lt;/ul&gt;
  &lt;div class="tab-content"&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h4>Tabs a esquerda</h4>
      <p>Mude a classe e coloque os tabs a esquerda</p>
      <div class="tabbable tabs-left">
        <ul class="nav tabs">
          <li class="active"><a href="#lA" data-toggle="tab">Seção 1</a></li>
          <li><a href="#lB" data-toggle="tab">Seção 2</a></li>
          <li><a href="#lC" data-toggle="tab">Seção 3</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="lA">
            <p>Estou na seção A</p>
          </div>
          <div class="tab-pane" id="lB">
            <p>Estou na seção B</p>
          </div>
          <div class="tab-pane" id="lC">
            <p>Estou na seção C</p>
          </div>
        </div>
      </div> <!-- /tabbable -->
<pre class="prettyprint linenums">
&lt;div class="tabbable tabs-left"&gt;
  &lt;ul class="nav tabs"&gt;
    ...
  &lt;/ul&gt;
  &lt;div class="tab-content"&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h4>Tabs na direita</h4>
      <p>Mude a classe para colocar a classe a direita</p>
      <div class="tabbable tabs-right">
        <ul class="nav tabs">
          <li class="active"><a href="#rA" data-toggle="tab">Seção 1</a></li>
          <li><a href="#rB" data-toggle="tab">Seção 2</a></li>
          <li><a href="#rC" data-toggle="tab">Seção 3</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="rA">
            <p>Estou na seção A</p>
          </div>
          <div class="tab-pane" id="rB">
            <p>Estou na seção B</p>
          </div>
          <div class="tab-pane" id="rC">
            <p>Estou na seção C</p>
          </div>
        </div>
      </div> <!-- /tabbable -->
<pre class="prettyprint linenums">
&lt;div class="tabbable tabs-right"&gt;
  &lt;ul class="nav tabs"&gt;
    ...
  &lt;/ul&gt;
  &lt;div class="tab-content"&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>

</section>



<!-- Navbar
================================================== -->
<section id="navbar">
  <div class="page-header">
    <h1>Barra de navegação</h1>
  </div>
  <h2>Exemplo de barra de navegação estática</h2>
  <p>Um exemplo de navegação estática (não fixa no topo) com nome do projeto, navegação e formulário de busca</p>
  <div class="navbar navbar-static">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="brand" href="#">Globo.com</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Ação</a></li>
              <li><a href="#">Outra ação</a></li>
              <li><a href="#">Algo mais</a></li>
              <li class="divider"></li>
              <li><a href="#">Link separado</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-search pull-left" action="">
          <input type="text" class="search-query span2" placeholder="Search">
        </form>
        <ul class="nav pull-right">
          <li><a href="#">Link</a></li>
          <li class="vertical-divider"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Ações</a></li>
              <li><a href="#">Outra ação</a></li>
              <li><a href="#">Algo mais</a></li>
              <li class="divider"></li>
              <li><a href="#">Links separados</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

  <div class="row">
    <div class="span8">
      <h3>Pontapé da barra de navegação</h3>
      <p>A barra de navegação requer somente poucas estruturas de divs para exibição estáticas e fixas</p>
<pre class="prettyprint linenums">
&lt;div class="navbar navbar-static"&gt;
  &lt;div class="navbar-inner"&gt;
    &lt;div class="container"&gt;
      ...
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>
      <p>Para fazer a barra de navegação fixa, troque a classe <code>.navbar-static</code> por <code>.navbar-fixed</code>. Em seu css, será preciso adicionar uma margem para a sobreposição e causa adicionando <code>padding-top: 40px;</code> no <code>&lt;body&gt;</code></p>
<pre class="prettyprint linenums">
&lt;div class="navbar navbar-fixed"&gt;
  ...
&lt;/div&gt;
</pre>
      <h3>Nome da marc</h3>
      <p>Um simples link para mostrar a tag requer somente o mínimo de markup</p>
<pre class="prettyprint linenums">
&lt;a class="brand" href="#"&gt;
  Nome do projeto
&lt;/a&gt;
</pre>
      <h3>Formulário de busca</h3>
      <p>Formulários de busca recebem um estilo customizado na barra de navegação com uma classe <code>.navbar-search</code>. Incluir <code>.pull-left</code> ou <code>.pull-right</code> no <code>form</code> para alinhá-lo</p>
<pre class="prettyprint linenums">
&lt;form class="navbar-search"&gt;
  &lt;input type="text" class="search-query pull-left" placeholder="Buscar"&gt;
&lt;/form&gt;
</pre>
    </div>
    <div class="span4">
      <h3>Links de navegação</h3>
      <p>Lista de navegação são simples para adicionar via listas não ordenadas</p>
<pre class="prettyprint linenums">
&lt;ul class="nav"&gt;
  &lt;li class="active"&gt;
    &lt;a href="#">Home&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>
      <h3>Adicionando dropdowns</h3>
      <p>Adicionar drowpdowns para a navegação é super simples, mas requer o uso de um <a href="./javascript.html/#dropdown">plugin javascript</a></p>
<pre class="prettyprint linenums">
&lt;ul class="nav"&gt;
  &lt;li class="dropdown"&gt;
    &lt;a href="#"
          class="dropdown-toggle"
          data-toggle="dropdown">
          Conta
          &lt;b class="caret"&gt;&lt;/b&gt;
    &lt;/a&gt;
    &lt;ul class="dropdown-menu"&gt;
      ...
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
    <p><a class="btn" href="./javascript.html#dropdowns">Obter javascript &rarr;</a></p>
    </div>
  </div>

</section>



<!-- Breadcrumbs
================================================== -->
<section id="breadcrumbs">
  <div class="page-header">
    <h1>Breadcrumbs <small></small></h1>
  </div>

  <div class="row">
    <div class="span6">
      <h3>Por que usá-los</h3>
      <p>A navegação Breadcrumb é usado como um caminho para mostrar aos usuários para se situar em uma aplicação ou site, mas não para navegação primária. Mantenha-os sucintos para se tornar mais efetivo</p>

      <h3>Exemplos</h3>
      <p>Um exemplo simples mostra como ele pode ser mostrado em múltiplas páginas</p>
      <ul class="breadcrumb">
        <li class="active">Home</li>
      </ul>
      <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li class="active">Biblioteca</li>
      </ul>
      <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Biblioteca</a> <span class="divider">/</span></li>
        <li class="active">Dados</li>
      </ul>
    </div>
    <div class="span6">
      <h3>Markup</h3>
      <p>Html com uma lista não ordenada padrão</p>
<pre class="prettyprint linenums">
&lt;ul class="breadcrumb"&gt;
  &lt;li&gt;
    &lt;a href="#"&gt;Home&lt;/a&gt; &lt;span class="divider"&gt;/&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#"&gt;Biblioteca&lt;/a&gt; &lt;span class="divider"&gt;/&lt;/span&gt;
  &lt;/li&gt;
  &lt;li class="active"&gt;
    &lt;a href="#"&gt;Dados&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
  </div>

</section>



<!-- Pagination
================================================== -->
<section id="pagination">
  <div class="page-header">
    <h1>Paginação <small>Duas opções de paginação pelo conteúdo</small></h1>
  </div>

  <h2>Paginação multi-página</h2>
  <div class="row">
    <div class="span4">
      <h3>Onde usar</h3>
      <p>Paginação bastante simples e miminalista, ótima para aplicações e resultados de busca. O bloco maior é fácil de user, facilmente escalável, e provê uma boa área de click</p>
      <h3>Links de estados da página</h3>
      <p>Links são customizáveis e trabalhar em um número de circunstâncias com a classe <code>.disabled</code> para links sem cliques e <code>.active</code> para a página atual</p>
      <h3>Alinhamento flexível</h3>
      <p>Adicionar duas classes opcionais para modificar o alinhamento dos links de paginação: <code>.pagination-centered</code> e <code>.pagination-right</code>.</p>
    </div>
    <div class="span4">
      <h3>Exemplos</h3>
      <p>A paginação padrão é flexível e trabalha em várias variações</p>
      <p>O componente de paginação padrão é flexível e trabalha com várias variações</p>
      <div class="pagination">
        <ul>
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
      <div class="pagination">
        <ul>
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">10</a></li>
          <li class="active"><a href="#">11</a></li>
          <li><a href="#">12</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
      <div class="pagination">
        <ul>
          <li><a href="#">&larr;</a></li>
          <li class="active"><a href="#">10</a></li>
          <li class="disabled"><a href="#">...</a></li>
          <li><a href="#">20</a></li>
          <li><a href="#">&rarr;</a></li>
        </ul>
      </div>
      <div class="pagination pagination-centered">
        <ul>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <h3>Markup</h3>
      <p>Coloque em volta de uma <code>&lt;div&gt;</code> a paginação e uma  <code>&lt;ul&gt;</code></p>
<pre class="prettyprint linenums">
&lt;div class="pagination"&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#"&gt;Prev&lt;/a&gt;&lt;/li>
    &lt;li class="active"&gt;
      &lt;a href="#"&gt;1&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Next&lt;/a&gt;&lt;/li>
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
    </div>
  </div><!-- /row -->

  <h2>Paginador <small>Para um fácil link de anterior e próximo</small></h2>
  <div class="row">
    <div class="span4">
      <h3>Sobre o paginador</h3>
      <p>O paginador é uma coleção de links para uma paginação simples com um markup limpo e estilos mais limpos ainda. É ótimo para sites simples e blogs, além de visualização de registros</p>
    </div>
    <div class="span4">
      <h3>Exemplo padrão</h3>
      <p>Por padrão, o paginador centraliza links</p>
      <ul class="pager">
        <li><a href="#">Anterior</a></li>
        <li><a href="#">Próximo</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="pager"&gt;
  &lt;li&gt;
    &lt;a href="#"&gt;Anterior&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#"&gt;Próximo&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
    <div class="span4">
      <h3>Alinhamento dos links</h3>
      <p>Alternadamente, você pode alinhar os links aos lados</p>
      <ul class="pager">
        <li class="previous"><a href="#">&larr; Anteriores</a></li>
        <li class="next"><a href="#">Novos &rarr;</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="pager"&gt;
  &lt;li class="previous"&gt;
    &lt;a href="#"&gt;&amp;larr; Anteriores&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="next"&gt;
    &lt;a href="#"&gt;Novos &amp;rarr;&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
  </div><!-- /row -->
</section>



<!-- Thumbnails
================================================== -->
<section id="thumbnails">
  <div class="page-header">
    <h1>Thumbnails <small>Grid para imagens, vídeos, texto e muito mais!</small></h1>
  </div>

  <div class="row">
    <div class="span6">
      <h2>thumbnail padrão</h2>
      <p>Por padrão, os thumbnails do bootstrap foram desenhados para ligar imagens com o mínimo de markup necessário</p>
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/210x150" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="span6">
      <h2>Altamente customizável</h2>
      <p>Com um pouco de markup extra, é possível adicionar qualquer tipo de HTML como cabeçalhos, parágrafos, ou botões em thumbnails</p>
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/210x150" alt="">
            <div class="caption">
              <h5>Rótulo do thumbnail</h5>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a href="#" class="btn primary">Ação</a> <a href="#" class="btn">Ação</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/210x150" alt="">
            <div class="caption">
              <h5>Rótulo do thumbnail</h5>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a href="#" class="btn primary">Ação</a> <a href="#" class="btn">Ação</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <h3>Por que usar Thumbnails</h3>
      <p>Thumbnails são ótimo para grid de fotos ou vídeos, busca de imagem, detalhes de produtos, portfolio e muito mais. Eles podem ser links ou conteúdo estático</p>
    </div>
    <div class="span4">
      <h3>Simples e markup flexível</h3>
      <p>O markup do thumbnail é simples, é uma <code>ul</code> com qualquer número de <code>li</code>. É também bem flexível, permitindo para qualquer tipo de conteúdo com somente um pouco mais de markup</p>
    </div>
    <div class="span4">
      <h3>Use grids para tamanhos de colunas</h3>
      <p>O componente de thumbnail usa um sistema de grid existente como <code>.span2</code> ou <code>.span3</code> para controlar as dimensões do thumbnail</p>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <h2>O markup</h2>
      <p>Como mencionado antes, o markup requerido para thumbnails é direto. Aqui está um exemplo de como é a configuração padrão para  <strong>for linked images</strong>:</p>
<pre class="prettyprint linenums">
&lt;ul class="thumbnails"&gt;
  &lt;li class="span3"&gt;
    &lt;a href="#" class="thumbnail"&gt;
      &lt;img src="http://placehold.it/210x150" alt=""&gt;
    &lt;/a&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;
</pre>
      <p>Para conteúdo HTML em thumbnails, o markup muda discretamente. Para permitir conteúdo em blocos em qualquer lugar, nós mudamos a classe <code>&lt;a&gt;</code> para uma <code>&lt;div&gt;</code></p>
<pre class="prettyprint linenums">
&lt;ul class="thumbnails"&gt;
  &lt;li class="span3"&gt;
    &lt;div class="thumbnail"&gt;
      &lt;img src="http://placehold.it/210x150" alt=""&gt;
      &lt;h5&gt;Rótulo do thumbnail&lt;/h5&gt;
      &lt;p&gt;Caption do thumbnail&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;
</pre>
    </div>
    <div class="span6">
      <h2>Mais exemplos</h2>
      <p>Explore todas as opções com as várias classes de grid disponíveis para você. Você pode também fazer um mix para diferentes tamanhos</p>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/290x226" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/130x100" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/130x100" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/130x100" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/130x100" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/130x100" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>



<!-- Alerts & Messages
================================================== -->
<section id="alerts">
  <div class="page-header">
    <h1>Alertas <small>Estilos para sucesso, avisos, e mensagens de erro</small></h1>
  </div>

  <h2>Padrões</h2>
  <div class="row">
    <div class="span4">
      <h3>Reescrever a classe base</h3>
      <p>Com o Bootstrap 2, nós simplificamos a classe base <code>.alert</code> ao invés de <code>.alert-message</code>. Nós também reduzimos o mínimo requerido de markup no <code>&lt;p&gt;</code>, ele é requerido por padrão, somente fora com <code>&lt;div&gt;</code></p>
      <h3>Alerta de mensagens únicos</h3>
      <p>Para componentes mais duráveis com menos código, nós removemos a diferenciação para blocos de alertas, mensagens que vem com mais padding e tipicamente mais textos. A classe também mudou para <code>.alert-block</code>.</p>
      <hr>
      <h3>Funciona bem com javascript</h3>
      <p>O Bootstrap vem com um ótimo plugin jQuery que suporta mensagens de alerta, fazendo o uso deles ser rápido e fácil</p>
      <p><a class="btn js-btn" href="./javascript.html#alerts">Obter plugin &raquo;</a></p>
    </div>
    <div class="span8">
      <h3>Alertas de exemplo</h3>
      <p>Coloque em volta sua mensagem e uma classe opcional de fechar com uma div com uma classe simples</p>
      <div class="alert">
        <a class="close">&times;</a>
        <strong>Aviso</strong> Olhe isto, como ficou lindo e envolvente!
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert"&gt;
  &lt;a class="close"&gt;&times;&lt;/a&gt;
  &lt;strong&gt;Aviso!&lt;/strong&gt; Olhe isto, como ficou lindo e envolvente!
&lt;/div&gt;
</pre>
      <p>Facilmente configure os alertas padrões com duas classes opcionais: <code>.alert-block</code> para mais padding e controles de texto use <code>.alert-heading</code> para o cabeçalho</p>
      <div class="alert alert-block">
        <a class="close">&times;</a>
        <h4 class="alert-heading">Aviso</h4>
        <p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert alert-block"&gt;
  &lt;a class="close"&gt;&times;&lt;/a&gt;
  &lt;h4 class="alert-heading"&gt;Aviso&lt;/h4&gt;
  Melhor ver você mesmo
&lt;/div&gt;
</pre>
    </div>
  </div>
  <h2>Alternativas contextuais <small>Adicione classes opcionais para modificar a conotação dos alertas</small></h2>
  <div class="row">
    <div class="span4">
      <h3>Erro e perigo</h3>
      <div class="alert alert-error">
        <a class="close">&times;</a>
        <strong>Ow my axe!</strong> Mude algumas coisas e envie novamente
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert alert-error"&gt;
  ...
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h3>Sucesso</h3>
      <div class="alert alert-success">
        <a class="close">&times;</a>
        <strong>Muito bem!</strong> Você leu com sucesso esta mensagem de sucesso
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert alert-success"&gt;
  ...
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h3>Informação</h3>
      <div class="alert alert-info">
        <a class="close">&times;</a>
        <strong>Aviso!</strong> Este alerta precisa de sua atenção
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert alert-info"&gt;
  ...
&lt;/div&gt;
</pre>
    </div>
  </div>

</section>



<!-- Progress bars
================================================== -->
      <section id="progress">
        <div class="page-header">
          <h1>Barra de progresso <small>Para carregamento, redirecionamentos e retorno para o usuário</small></h1>
        </div>

        <h2>Exemplos e markup</h2>
        <div class="row">
          <div class="span4">
            <h3>Básico</h3>
            <p>Barra de progresso padrão com gradiente vertical</p>
            <div class="progress">
              <div class="bar" style="width: 60%;"></div>
            </div>
<pre class="prettyprint linenums">
&lt;div class="progress"&gt;
  &lt;div class="bar"
       style="width: 60%;"&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>
          </div>
          <div class="span4">
            <h3>Zebrado</h3>
            <p>Use gradiente para criar um efeito zebrado</p>
            <div class="progress info striped">
              <div class="bar" style="width: 20%;"></div>
            </div>
<pre class="prettyprint linenums">
&lt;div class="progress info
     striped"&gt;
  &lt;div class="bar"
       style="width: 20%;"&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>
          </div>
          <div class="span4">
            <h3>Animado</h3>
            <p>Pegue o exemplo zebrado, e anime!</p>
            <div class="progress danger active striped">
              <div class="bar" style="width: 45%"></div>
            </div>
<pre class="prettyprint linenums">
&lt;div class="progress danger
     striped active"&gt;
  &lt;div class="bar"
       style="width: 40%;"&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>
          </div>
        </div>

        <h2>Opções e suporte a browser</h2>
        <div class="row">
          <div class="span4">
            <h3>Cores adicionais</h3>
            <p>Barras de progresso usam clases dos botões e alertas para fácil estilização</p>
            <ul>
              <li><code>.info</code></li>
              <li><code>.success</code></li>
              <li><code>.danger</code></li>
            </ul>
            <p>Alternativamente, você pode customizar os arquivos LESS e escolha cores e tamanhos</p>
          </div>
          <div class="span4">
            <h3>Comportamento</h3>
            <p>Barra de progresso e transições CSS3, então você ajusta dinamicamente a largura via javascript, e ele irá ser redimensionada</p>
            <p>Se você usa a classe <code>.active</code>, sua barra zebrada <code>.striped</code> irá animar da esquerda pra direita</p>
          </div>
          <div class="span4">
            <h3>Suporte a browsers</h3>
            <p>Barra de progresso usam gradientes CSS3, transições, e animações para conseguir seus efeitos. Estas features não são suportadas no IE7-8 e versões antigas do Firefox</p>
            <p>Opera não suporta animação</p>
          </div>
        </div>

      </section>
