
<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Customizar e download</h1>
  <p class="lead"><a href="https://github.com/globocom/bootstrap/zipball/master">Download do repositório completo</a> <span>Ou customize os componentes da forma que desejar</span></p>
  <div class="subnav">
    <ul class="nav pills">
      <li><a href="#components">1. Selecionar componentes</a></li>
      <li><a href="#variables">2. Modificar variáveis</a></li>
      <li><a href="#plugins">3. Selecionar Plugins jQuery</a></li>
      <li><a href="#download">4. Customizar e fazer download</a></li>
    </ul>
  </div>
</header>
 <form action="http://10.2.10.119:1337" method="POST">
<section class="download" id="components">
  <div class="page-header">
    <a class="pull-right toggle-all" href="#">Inverter tudo</a>
    <h1>
      1. Selecionar componentes
      <small>Obtenha todos os CSS's que precisar</small>
    </h1>
  </div>
  <div class="row download-builder">
    <div class="span3">
      <h3>Scaffolding</h3>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="reset"> CSS reset</label>
      <label class="checkbox"><input type="checkbox"checked="true" name="css" value="scaffolding"> Sistema de Grid</label>
      <!-- <label class="checkbox"><input type="checkbox" value=""> Layouts</label> -->
      <h3>Base CSS</h3>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="type"> Cabeçalhos e corpo, code, pre e listas</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="labels"> Labels</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="tables"> Tabelas</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="boxes"> Boxes</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="forms"> Formulários</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="form-custom"> Form personalizado</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="buttons"> Botões</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="sprites"> Ícones</label>
    </div><!-- /span -->
    <div class="span3">
      <h3>Componentes</h3>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="button-groups"> Grupo de botões</label>
      <!-- <label class="checkbox"><input type="checkbox" value=""> Botões combo</label> -->
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="navs"> Navegação, Tabs e pílulas</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="navbar"> Barra de navegação</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="breadcrumbs"> Breadcrumbs</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="pagination"> Paginação</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="pager"> Paginador</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="thumbnails"> Thumbnails</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="alerts"> Alertas</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="progress-bars"> Barra de progresso</label>
    </div><!-- /span -->
    <div class="span3">
      <h3>Componentes JS</h3>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="tooltip"> Tooltips</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="popovers"> Popovers</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="modals"> Modals</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="dropdowns"> Dropdowns</label>
      <!-- <label class="checkbox"><input type="checkbox" checked="true" name="css" value="navs"> Tabs</label> -->
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="accordion"> Collapse</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="carousel"> Carousel</label>
    </div><!-- /span -->
    <div class="span3">
      <h3>Outros</h3>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="wells"> Wells</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="close"> ícone fechar</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="utilities"> Utilitários</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="component-animations"> Animação dos componentes</label>
      <h3>Responsive</h3>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="responsive"> Max-width 480px</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="responsive"> Max-width 768px</label>
      <label class="checkbox"><input type="checkbox" checked="true" name="css" value="responsive"> Max-width 1210px</label>
    </div><!-- /span -->
  </div><!-- /row -->
</section>

<section class="download" id="variables">
  <div class="page-header">
    <a class="pull-right toggle-all" href="#">Voltar aos padrões</a>
    <h1>
      2. Modificar variáveis
      <small>Customize variáveis CSS sem compilar pelo LESS</small>
    </h1>
  </div>
  <div class="row download-builder">
    <div class="span4">
      <h3>Links</h3>
      <label>@linkColor</label>
      <input type="text" class="span3" name="@linkColor" value="#08c">
      <label>@linkColorHover</label>
      <input type="text" class="span3" name="@linkColorHover" value="darken(@linkColor, 15%)">
      <h3>Grid</h3>

      <label>@gridColumns</label>
      <input type="text" class="span3" name="@gridColumns" value="12">
      <label>@gridColumnWidth</label>
      <input type="text" class="span3" name="@gridColumnWidth" value="60px">
      <label>@gridGutterWidth</label>
      <input type="text" class="span3" name="@gridGutterWidth" value="20px">
      <label>@siteWidth</label>
      <input type="text" class="span3" name="@siteWidth" value="(@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1))">
      <label>@fluidSidebarWidth</label>
      <input type="text" class="span3" name="@fluidSidebarWidth" value="220px">
    </div><!-- /span -->
    <div class="span4">
      <h3>Tipografia</h3>
      <label>@baseFontSize</label>
      <input type="text" class="span3" name="@baseFontSize" value="13px">
      <label>@baseFontFamily</label>
      <input type="text" class="span3" name="@baseFontFamily" value="'Helvetica Neue', Helvetica, Arial, sans-serif">
      <label>@baseLineHeight</label>
      <input type="text" class="span3" name="@baseLineHeight" value="18px">
      <h3>Formulários</h3>
      <label>@primaryButtonColor</label>
      <input type="text" class="span3" name="@primaryButtonColor" value="@blue">
      <label>@placeholderText</label>
      <input type="text" class="span3" name="@placeholderText" value="@grayLight">
      <h3>Barra de navegação</h3>
      <label>@navbarHeight</label>
      <input type="text" class="span3" name="@navbarHeight" value="40px">
      <label>@navbarBackground</label>
      <input type="text" class="span3" name="@navbarBackground" value="@grayDarker">
      <label>@navbarBackgroundHighlight</label>
      <input type="text" class="span3" name="@navbarBackgroundHighlight" value="@grayDark">
    </div><!-- /span -->
    <div class="span4">
      <h3>Estados do formulário e alertas</h3>
      <label>@warningText</label>
      <input type="text" class="span3" name="@warningText" value="#c09853">
      <label>@warningBackground</label>
      <input type="text" class="span3" name="@warningBackground" value="#fcf8e3">
      <label>@warningBorder</label>
      <input type="text" class="span3" name="@warningBorder" value="#f3edd2">
      <label>@errorText</label>
      <input type="text" class="span3" name="@errorText" value="#b94a48">
      <label>@errorBackground</label>
      <input type="text" class="span3" name="@errorBackground" value="#f2dede">
      <label>@errorBorder</label>
      <input type="text" class="span3" name="@errorBorder" value="#e9c7c7">
      <label>@successText</label>
      <input type="text" class="span3" name="@successText" value="#468847">
      <label>@successBackground</label>
      <input type="text" class="span3" name="@successBackground" value="#dff0d8">
      <label>@successBorder</label>
      <input type="text" class="span3" name="@successBorder" value="#cfe8c4">
      <label>@infoText</label>
      <input type="text" class="span3" name="@infoText" value="#3a87ad">
      <label>@infoBackground</label>
      <input type="text" class="span3" name="@infoBackground" value="#d9edf7">
      <label>@infoBorder</label>
      <input type="text" class="span3" name="@infoBorder" value="#bfe1f2">
    </div><!-- /span -->
  </div><!-- /row -->
</section>

<section class="download" id="plugins">
  <div class="page-header">
    <a class="pull-right toggle-all" href="#">Inverter tudo</a>
    <h1>
      3. Selecionar plugins jQuery
      <small>Simplesmente adicione só o javascript necessário</small>
    </h1>
  </div>
  <div class="row download-builder">
    <div class="span4">
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-modal">
        Modals
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-dropdown">
        Dropdowns
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-scrollspy">
        Scrollspy
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-tab">
        Togglable tabs
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-tooltip">
        Tooltips
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-charcount">
        Charcount <small>(requires Tooltips)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-popover">
        Popovers <small>(requires Tooltips)</small>
      </label>
    </div><!-- /span -->
    <div class="span4">
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-alert">
        Alert messages
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-button">
        Buttons
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-collapse">
        Collapse
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-carousel">
        Carousel
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-typeahead">
        Typeahead
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" name="js" value="bootstrap-transition">
        Transitions <small>(para qualquer animação)</small>
      </label>
    </div><!-- /span -->
    <div class="span4">
      <h4 class="muted">Aviso!</h4>
      <p class="muted">Todos plugins requerem uma versão mais recente do <a href="http://jquery.com/" target="_blank">jQuery</a> para serem incluídos</p>
    </div><!-- /span -->
  </div><!-- /row -->
</section>

<section class="download" id="download">
  <div class="page-header">
    <h1>
      4. Download
      <small></small>
    </h1>
  </div>
  <div class="download-btn">
    
      <input type="submit" class="btn xlarge primary" id="make-build" value="Customizar e fazer Download" /> 
    
    <h4>O que será incluído?</h4>
    <p>O download inclui css compilado, compilado e minificado, e compila plugins jQuery, todos compactados em um zip para sua conveniência</p>
  </div>
  
</section><!-- /download -->
</form>