<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Usando LESS com o Bootstrap</h1>
  <p class="lead">Customize e estenda o bootstrap com o <a href="http://lesscss.org" target="_blank">LESS</a>, um pré-processador CSS, que faz um  uso de variáveis, funções para construir de forma automatizada o Bootstrap</p>
  <div class="subnav">
    <ul class="nav pills">
      <li><a href="#builtWith">Desenvolvido com o LESS</a></li>
      <li><a href="#variables">Variáveis</a></li>
      <li><a href="#mixins">Funções</a></li>
      <li><a href="#compiling">Compilando o Bootstrap</a></li>
    </ul>
  </div>
</header>



<!-- BUILT WITH LESS
================================================== -->
<section id="builtWith">
  <div class="page-header">
    <h1>Desenvolvido com o LESS</h1>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Por que LESS?</h3>
      <p>O Bootstrap foi desenvolvido com o LESS, um linguagem de estilos dinâmica, criada por <a href="http://cloudhead.io">Alexis Sellier</a>. Ele torna o desenvolvimento de CSS para sistemas rápido, fácil e divertido</p>
    </div>
    <div class="span4">
      <h3>O que inclui?</h3>
      <p>Como extensão do CSS, LESS inclui variáveis, funções para reusar trechos de código, operações para simples matemática, aninhamento, e até mesmo funções de cores</p>
    </div>
    <div class="span4">
      <h3>Aprenda mais</h3>
      <img style="float: right; height: 36px;" src="assets/img/less-logo-large.png" alt="LESS CSS">
      <p>Visite o site oficial <a href="http://lesscss.org">http://lesscss.org</a> para aprender mais</p>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h3><a href="#variables">Variáveis</a></h3>
      <p>Gerenciar cores e valores em pixels pode ser um pouco doloroso, geralmente repleto de copiar e colar. Com o less você pode armazenar cores em variáveis e mudá-las somente uma vez</p>
    </div>
    <div class="span4">
      <h3><a href="#mixins">Funções</a></h3>
      <p>Aquelas três declarações só para para declarar um border-radius te deixa louco? Agora eles são escritos em uma linha usando mixins, que são trechos de código que podem ser reusadas em qualquer lugar</p>
    </div>
    <div class="span4">
      <h3>Operações</h3>
      <p>Faça seu grid e outras operações flexíveis usando o LESS. Multiplique, divida, adicione, e subtraia seu CSS</p>
    </div>
  </div>
</section>



<!-- VARIABLES
================================================== -->
<section id="variables">
  <div class="page-header">
    <h1>Variáveis do Bootstrap <small></small></h1>
  </div>

  <h3>Hyperlinks</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="span2">Variável</th>
        <th>Valor</th>
        <th>Uso</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@linkColor</code></td>
        <td>#08c</td>
        <td>Cor padrão do link</td>
      </tr>
      <tr>
        <td><code>@linkColorHover</code></td>
        <td><code>darken(@linkColor, 15%)</code></td>
        <td>Cor padrão do texto para o estado hover</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="span6">
      <h3>Cores em tom de cinza</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="span2">Variável</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>@black</code></td>
            <td>#000</td>
          </tr>
          <tr>
            <td><code>@grayDarker</code></td>
            <td>#222</td>
          </tr>
          <tr>
            <td><code>@grayDark</code></td>
            <td>#333</td>
          </tr>
          <tr>
            <td><code>@gray</code></td>
            <td>#555</td>
          </tr>
          <tr>
            <td><code>@grayLight</code></td>
            <td>#999</td>
          </tr>
          <tr>
            <td><code>@grayLighter</code></td>
            <td>#eee</td>
          </tr>
          <tr>
            <td><code>@white</code></td>
            <td>#fff</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <h3>Variações de cores</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="span2">Variável</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>@blue</code></td>
            <td>#049cdb</td>
          </tr>
          <tr>
            <td><code>@green</code></td>
            <td>#46a546</td>
          </tr>
          <tr>
            <td><code>@red</code></td>
            <td>#9d261d</td>
          </tr>
          <tr>
            <td><code>@yellow</code></td>
            <td>#ffc40d</td>
          </tr>
          <tr>
            <td><code>@orange</code></td>
            <td>#f89406</td>
          </tr>
          <tr>
            <td><code>@pink</code></td>
            <td>#c3325f</td>
          </tr>
          <tr>
            <td><code>@purple</code></td>
            <td>#7a43b6</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- /row -->
  <div class="row">
    <div class="span6">
      <h3>Sistema de grid</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="span2">Variável</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>@gridColumns</code></td>
            <td>12</td>
          </tr>
          <tr>
            <td><code>@gridColumnWidth</code></td>
            <td>60px</td>
          </tr>
          <tr>
            <td><code>@gridGutterWidth</code></td>
            <td>20px</td>
          </tr>
          <tr>
            <td><code>@siteWidth</code></td>
            <td><code>(@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1))</code></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <h3>Tipografia</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="span2">Variável</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>@baseFontSize</code></td>
            <td>13px</td>
          </tr>
          <tr>
            <td><code>@baseFontFamily</code></td>
            <td><code>"Helvetica Neue", Helvetica, Arial, sans-serif</code></td>
            <td></td>
          </tr>
          <tr>
            <td><code>@baseLineHeight</code></td>
            <td>18px</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- /row -->

  <h3>Componentes</h3>
  <div class="row">
    <div class="span6">
      <h4>Botões</h4>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span3"><code>@primaryButtonBackground</code></td>
            <td><code>@linkColor</code></td>
          </tr>
        </tbody>
      </table>
      <h4>Formulários</h4>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span3"><code>@placeholderText</code></td>
            <td><code>@grayLight</code></td>
          </tr>
        </tbody>
      </table>
      <h4>Barra de navegação</h4>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span3"><code>@navbarHeight</code></td>
            <td>40px</td>
          </tr>
          <tr>
            <td><code>@navbarBackground</code></td>
            <td><code>@grayDarker</code></td>
          </tr>
          <tr>
            <td><code>@navbarBackgroundHighlight</code></td>
            <td><code>@grayDark</code></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <h4>Estados dos formulários e alertas</h4>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="span3"><code>@warningText</code></td>
            <td>#f3edd2</td>
          </tr>
          <tr>
            <td><code>@warningBackground</code></td>
            <td>#c09853</td>
          </tr>
          <tr>
            <td><code>@warningBorder</code></td>
            <td>#f3edd2</td>
          </tr>
          <tr>
            <td><code>@errorText</code></td>
            <td>#b94a48</td>
          </tr>
          <tr>
            <td><code>@errorBackground</code></td>
            <td>#f2dede</td>
          </tr>
          <tr>
            <td><code>@errorBorder</code></td>
            <td>#e9c7c7</td>
          </tr>
          <tr>
            <td><code>@successText</code></td>
            <td>#468847</td>
          </tr>
          <tr>
            <td><code>@successBackground</code></td>
            <td>#dff0d8</td>
          </tr>
          <tr>
            <td><code>@successBorder</code></td>
            <td>#cfe8c4</td>
          </tr>
          <tr>
            <td><code>@infoText</code></td>
            <td>#3a87ad</td>
          </tr>
          <tr>
            <td><code>@infoBackground</code></td>
            <td>#d9edf7</td>
          </tr>
          <tr>
            <td><code>@infoBorder</code></td>
            <td>#bfe1f2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- /row -->

</section>



<!-- MIXINS
================================================== -->
<section id="mixins">
  <div class="page-header">
    <h1>Funções<small></small></h1>
  </div>
  <h2>Sobre funções</h2>
  <div class="row">
    <div class="span4">
      <h3>Funções básicas</h3>
      <p>Uma função básica é essencialmente incluir um pedaço de código CSS. Eles estão escritos como uma classe CSS e podem ser chamados em qualquer lugar</p>
<pre class="prettyprint linenums">
.element {
  .clearfix();
}
</pre>
    </div><!-- /span4 -->
    <div class="span4">
      <h3>Funções parametrizáveis</h3>
      <p>Uma função parametrizável é simplesmente uma função básica, mas aceita parâmetros com opções padrões</p>
<pre class="prettyprint linenums">
.element {
  .border-radius(4px);
}
</pre>
    </div><!-- /span4 -->
    <div class="span4">
      <h3>Facilmente adicione as suas</h3>
      <p>Todas as funções estão armazenadas em mixin.less, um arquivo .less utilitário para você usar qualquer função disponível</p>
      <p>Você pode ir adiante usando as funções para adicionar o que for necessário</p>
    </div><!-- /span4 -->
  </div><!-- /row -->
  <h2>Funções inclusas</h2>
  <h3>Utilitários</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="span4">Funcão</th>
        <th>Parâmetro</th>
        <th>Uso</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.clearfix()</code></td>
        <td><em class="muted">none</em></td>
        <td>Adiconado ao pai para aplicar um clear</td>
      </tr>
      <tr>
        <td><code>.center-block()</code></td>
        <td><em class="muted">none</em></td>
        <td>Centraliza um elemento bloco usando <code>margin: auto</code></td>
      </tr>
      <tr>
        <td><code>.ie7-inline-block()</code></td>
        <td><em class="muted">none</em></td>
        <td>Adicione um <code>display: inline-block</code> que o IE7 possa suportar</td>
      </tr>
      <tr>
        <td><code>.size()</code></td>
        <td><code>@height: 5px, @width: 5px</code></td>
        <td>Facilmente adicione largura e altura em uma linha</td>
      </tr>
      <tr>
        <td><code>.square()</code></td>
        <td><code>@size: 5px</code></td>
        <td>Uma função acima do size em que declara a altura e largura do mesmo tamanho</td>
      </tr>
      <tr>
        <td><code>.opacity()</code></td>
        <td><code>@opacity: 100</code></td>
        <td>Escolha com número o valor da propriedade opacity (e.g., "50" or "75")</td>
      </tr>
      <tr>
        <td><code>.reset-filter()</code></td>
        <td><em class="muted">none</em></td>
        <td>Reinicia qualquer filtro do IE</td>
      </tr>
    </tbody>
  </table>
  <h3>Formulários</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="span4">Função</th>
        <th>Parâmetro</th>
        <th>Uso</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.placeholder()</code></td>
        <td><code>@color: @placeholderText</code></td>
        <td>Escolha uma cor <code>placeholder</code> para os inputs</td>
      </tr>
    </tbody>
  </table>
  <h3>Tipografia</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="span4">Função</th>
        <th>Parâmetro</th>
        <th>Uso</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>#font > #family > .serif()</code></td>
        <td><em class="muted">none</em></td>
        <td>Faça um elemento usar uma fonte serifada</td>
      </tr>
      <tr>
        <td><code>#font > #family > .sans-serif()</code></td>
        <td><em class="muted">none</em></td>
        <td>Faça um elemento usar uma fonte sans-serif</td>
      </tr>
      <tr>
        <td><code>#font > #family > .monospace()</code></td>
        <td><em class="muted">none</em></td>
        <td>Faça um elemento usar uma fonte no estilo monospace</td>
      </tr>
      <tr>
        <td><code>#font > .shorthand()</code></td>
        <td><code>@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight</code></td>
        <td>Facilmente escolha um tamanho de fonte e seu peso</td>
      </tr>
      <tr>
        <td><code>#font > .serif()</code></td>
        <td><code>@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight</code></td>
        <td>Escolha uam fonte para serif, com possibilidade de escolher um tamanho e peso</td>
      </tr>
      <tr>
        <td><code>#font > .sans-serif()</code></td>
        <td><code>@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight</code></td>
        <td>Escolha uam fonte para sans-serif, com possibilidade de escolher um tamanho e peso</td>
      </tr>
      <tr>
        <td><code>#font > .monospace()</code></td>
        <td><code>@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight</code></td>
        <td>Escolha uam fonte para monospace, com possibilidade de escolher um tamanho e peso</td>
      </tr>
    </tbody>
  </table>
  <h3>Sistema de grid</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="span4">Função</th>
        <th>Parâmetro</th>
        <th>Uso</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.container-fixed()</code></td>
        <td><em class="muted">none</em></td>
        <td>Provê um uma largura fixa (com o <code>@siteWidth</code>) para o conteúdo</td>
      </tr>
      <tr>
        <td><code>.columns()</code></td>
        <td><code>@columns: 1</code></td>
        <td>Construa um grid de coluna que extende uma quantidade de colunas (padrão é uma coluna)</td>
      </tr>
      <tr>
        <td><code>.offset()</code></td>
        <td><code>@columns: 1</code></td>
        <td>Escolha um offset para a margem esquerda que use um certo número de colunas</td>
      </tr>
      <tr>
        <td><code>.gridColumn()</code></td>
        <td><em class="muted">none</em></td>
        <td>Faça um elemento flutuar como uma coluna do grid</td>
      </tr>
    </tbody>
  </table>
  <h3>Propriedades CSS3</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="span3">Função</th>
        <th>Parâmetros</th>
        <th>Uso</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.border-radius()</code></td>
        <td><code>@radius: 5px</code></td>
        <td>Insere uma borda arredondada em um elemento. Pode ser um valor único ou quatro valores separados por espaço</td>
      </tr>
      <tr>
        <td><code>.box-shadow()</code></td>
        <td><code>@shadow: 0 1px 3px rgba(0,0,0,.25)</code></td>
        <td>Adiciona uma sombra no elemento</td>
      </tr>
      <tr>
        <td><code>.transition()</code></td>
        <td><code>@transition</code></td>
        <td>Adiciona um efeito de transição CSS3 (e.g., <code>all .2s linear</code>)</td>
      </tr>
      <tr>
        <td><code>.rotate()</code></td>
        <td><code>@degrees</code></td>
        <td>Rodar um elemento em <em>n</em> graus</td>
      </tr>
      <tr>
        <td><code>.scale()</code></td>
        <td><code>@ratio</code></td>
        <td>escala um elemento em <em>n</em> vezes seu tamanho original</td>
      </tr>
      <tr>
        <td><code>.translate()</code></td>
        <td><code>@x: 0, @y: 0</code></td>
        <td>Move um elemento de x a y</td>
      </tr>
      <tr>
        <td><code>.background-clip()</code></td>
        <td><code>@clip</code></td>
        <td>Corta o background de um elemento (util para<code>border-radius</code>)</td>
      </tr>
      <tr>
        <td><code>.background-size()</code></td>
        <td><code>@size</code></td>
        <td>Controla o tamanho do background via CSS3</td>
      </tr>
      <tr>
        <td><code>.box-sizing()</code></td>
        <td><code>@boxmodel</code></td>
        <td>Muda um box model para um elemento (ex. <code>border-box</code> para largura fixa <code>input</code>)</td>
      </tr>
      <tr>
        <td><code>.user-select()</code></td>
        <td><code>@select</code></td>
        <td>Controle a seleção do cursor em uma página</td>
      </tr>
      <tr>
        <td><code>.resizable()</code></td>
        <td><code>@direction: both</code></td>
        <td>Faça qualquer elemento redimensionável</td>
      </tr>
      <tr>
        <td><code>.content-columns()</code></td>
        <td><code>@columnCount, @columnGap: @gridColumnGutter</code></td>
        <td>Faça um conteúdo de um elemento ser uma coluna CSS3</td>
      </tr>
    </tbody>
  </table>
  <h3>Backgrounds e gradientes</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="span4">Função</th>
        <th>Parâmetros</th>
        <th>Uso</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>.#translucent > .background()</code></td>
        <td><code>@color: @white, @alpha: 1</code></td>
        <td>Dá ao elemento um background translúcido</td>
      </tr>
      <tr>
        <td><code>.#translucent > .border()</code></td>
        <td><code>@color: @white, @alpha: 1</code></td>
        <td>Dá ao elemento uma cor de borda translúcido</td>
      </tr>
      <tr>
        <td><code>.#gradient > .vertical()</code></td>
        <td><code>@startColor, @endColor</code></td>
        <td>Cria um gradiente vertical cross-browser</td>
      </tr>
      <tr>
        <td><code>.#gradient > .horizontal()</code></td>
        <td><code>@startColor, @endColor</code></td>
        <td>Crie um gradiente horizontal cross-browser</td>
      </tr>
      <tr>
        <td><code>.#gradient > .directional()</code></td>
        <td><code>@startColor, @endColor, @deg</code></td>
        <td>Cria um gradiente vertical direcional cross-browser</td>
      </tr>
      <tr>
        <td><code>.#gradient > .vertical-three-colors()</code></td>
        <td><code>@startColor, @midColor, @colorStop, @endColor</code></td>
        <td>Cria um gradiente de três cores cross-browser</td>
      </tr>
      <tr>
        <td><code>.#gradient > .radial()</code></td>
        <td><code>@innerColor, @outerColor</code></td>
        <td>Cria um gradiente radial cross-browser</td>
      </tr>
      <tr>
        <td><code>.#gradient > .striped()</code></td>
        <td><code>@color, @angle</code></td>
        <td>Cria um gradiente zebrado cross-browser</td>
      </tr>
      <tr>
        <td><code>.#gradientBar()</code></td>
        <td><code>@primaryColor, @secondaryColor</code></td>
        <td>Usado para botões para um gradiente com uma borda um pouco mais escura</td>
      </tr>
    </tbody>
  </table>
</section>



<!-- COMPILING LESS AND BOOTSTRAP
================================================== -->
<section id="compiling">
  <div class="page-header">
    <h1>Compilando Bootstrap com o LESS</h1>
  </div>
  <div class="alert alert-info">
   <strong>Nota:</strong> cada vez que você fizer uma modificação no css, você <strong>deve</strong> recompilar o CSS por algum dos métodos abaixo:
  </div>
  <h2>Ferramentas para compilar</h2>
  <div class="row">
    <div class="span4">
      <h3>Node com makefile</h3>
      <p>Instale uma linha de comando LESS com o seguinte comando:</p>
      <pre>$ npm install less</pre>
      <p>Uma vez instalado, simplesmente rode <code>make</code> no diretório raiz do bootstrap e pronto.</p>
      <p>Adicionalmente, você pode ter um <a href="https://github.com/mynyml/watchr">watchr</a> instalado, então basta executar <code>make watch</code> para fazer o bootstrap automaticamente regerar o CSS cada vez que o arquivo é editado(não é obrigatório, é só questão de praticidade)</p>
    </div><!-- /span4 -->
    <div class="span4">
      <h3>Linha de comando</h3>
      <p>Instale uma linha de comando LESS via Node e execute o seguinte comando:</p>
        <pre>$ lessc ./lib/bootstrap.less > bootstrap.css</pre>
      <p>Certifique-se de incluir <code>--compress</code> naquele comando e você irá economizar bytes!</p>  
    </div><!-- /span4 -->
    <div class="span4">
      <h3>Javascript</h3>
      <p><a href="http://lesscss.org/">Download the latest Less.js</a> e incluir o path para ele no <code>&lt;head&gt;</code></p>
<pre class="prettyprint">
&lt;link rel="stylesheet/less" href="/path/to/bootstrap.less"&gt;
&lt;script src="/path/to/less.js"&gt;&lt;/script&gt;
</pre>
      <p>Para recompilar o arquivo .less, simplesmente salve-o e recarregue a página. Less.js compila e armazena localmente</p>
    </div><!-- /span4 -->
  </div><!-- /row -->
  <div class="row">
    <div class="span4">
      <h3>Aplicação MAC não oficial</h3>
      <p><a href="http://incident57.com/less/">A aplicação MAC não oficial</a></p>
    </div><!-- /span4 -->
    <div class="span4">
      <h3>Mais aplicações MAC</h3>
      <h4><a href="http://crunchapp.net/" target="_blank">Crunch</a></h4>
      <p>Um ótimo editor less construindo par ao adobe air</p>
      <h4><a href="http://incident57.com/codekit/" target="_blank">CodeKit</a></h4>
      <p>Aplicação MAC que compila LESS, SASS e CoffeeScript</p>
      <h4><a href="http://wearekiss.com/simpless" target="_blank">Simpless</a></h4>
      <p>Aplicação drag e drop para compilar arquivos LESS. saiba mais no <a href="https://github.com/Paratron/SimpLESS" target="_blank">GitHub</a>.</p>
    </div><!-- /span4 -->
  </div><!-- /row -->
</section>
